@use "@vault42/theme/styles/colors" as c;

.subfolder-nav {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  border-bottom: 1px solid c.$color-border;
  padding: 0.3rem 0.6rem;
  background: c.$color-callout-background;

  button {
    border: 0;
    cursor: pointer;
    background: transparent;
    color: c.$color-muted-foreground;
    font-family: var(--font-mono);
    font-size: 0.75rem;
    letter-spacing: 0.07em;
    padding: 0.3em 0.7em;
    
    &.active,
    &:hover {
      color: c.$color-muted-foreground;
      background-color: c.$color-accent;
    }
  }
}
