@use '../../styles/utils/colors' as c;

@mixin rowTextFont {
    font-family: var(--font-lato);
    font-weight: 300;
    font-size: 1.1rem;
}

.note-row {
    display:flex;
    align-items: center;
    justify-content:flex-start;
    gap: 2em;
    opacity: 80%;
    background: transparent;

    &:hover {
        cursor: pointer;
        background: c.$color-background;
        opacity: 100%;
    }

    &__notebook {
        @include rowTextFont;

        text-transform:capitalize;
        width: 8em;
        text-align: left;
    }

    &__title {
        font-family: var(--font-mono);
        font-weight: 300;
        font-size: 1.1rem;
        color: c.$color-foreground;
        
    }

    &__description {
        @include rowTextFont;
    }
}